@model FeestViewModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rachelsmolen 1,<br />
    Eindhoven, 5612 MA <br />
    <abbr title="Phone">P:</abbr>
    088 508 0000
</address>

<address>
    <strong>Info:</strong> <a href="mailto:info@fontys.nl">info@fontys.nl</a>
</address>