@using Models
@model EditGebruikerViewModel
@{
    ViewData["Title"] = "Party Planner ~ Home";
}

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Gebruiker.UserId"></label>
                <input asp-for="@Model.Gebruiker.UserId" class="form-control" />
            </div>
        </form>
    </div>
</div>