@using Models
@model HomeIndexViewModel
@{ 
    ViewData["Title"] = "Home";
}

<div class="carousel slide" data-ride="carousel" id="carousel-1">
    <div class="carousel-inner" role="listbox">
        <div class="item active itemCarousel">
            <img src="images/HomeCarousel/party1.jpg" alt="Slide Image" class="imageCarousel">
            <div class="carousel-caption d-none d-md-block">
                <h2>...</h2>
                <p>...</p>
            </div>
        </div>
        <div class="item itemCarousel">
            <img src="images/HomeCarousel/party2.jpg" alt="Slide Image" class="imageCarousel">
            <div class="carousel-caption d-none d-md-block">
                <h2>...</h2>
                <p>...</p>
            </div>
        </div>
        <div class="item itemCarousel">
            <img src="images/HomeCarousel/party3.jpg" alt="Slide Image" class="imageCarousel">
            <div class="carousel-caption d-none d-md-block">
                <h2>...</h2>
                <p>...</p>
            </div>
        </div>
    </div>
    <div>
        <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
            <i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
            <i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
    </ol>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Alle gebruikers</h2>
        <ul>
            @foreach (var gebruiker in Model.gebruikers)
            {
                <li>@gebruiker.Naam (@gebruiker.GebruikerId)</li>

            }
        </ul>
    </div>
    
    
</div>
