@using Models
@model FeestViewModel
@{
    ViewData["Title"] = "Locatie & Datum";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<form method="post">
    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="FeestId" value="@Model.FeestId"/>
            <h1>Datum & Tijd</h1>
            
            <div class="alert-danger" role="alert">@ViewData["InvalidDate"]</div>
            <div class="form-group">
                <label>Begin datum:</label>
                <input asp-for="BeginDatum" type="datetime-local" class="form-control" />
            </div>
            <div class="form-group">
                <label>Eind datum:</label>
                <input asp-for="EindDatum" type="datetime-local" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <h1>Locatie</h1>
            <label>Kies een zaal:</label>
            <select id="zaalSelect" asp-for="ZaalId" class="form-control">
                <option value="0" selected>Kies een zaal:</option>
                
                @foreach (var zaal in Model.Zalen.ToList())
                {
                    <option value="@zaal.ZaalId">@zaal.Naam @*//TODO Ander dingen of alleen naam laten?*@</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">

        <button class="btn btn-default btn-right" type="submit">Next!</button>

    </div>
</form>

<script>
    $(document).ready(function(){
        var x = ($('#zaalSelect option').size());
        $('#zaalSelect').attr('size', x);
    });
</script>