@using Models
@model ForumViewModel
@{
    ViewData["Title"] = "Forum";
}

<div class="row">
    <div class="col-md-12">
        <h1>Forum</h1>

        @foreach (var bericht in @Model.Berichten.ToList())
        {
            <form asp-action="Bericht" method="get">
                <button type="submit" class="list-group-item"><b>@bericht.BerichtTitel</b>: <br /> @bericht.Tekstbericht <input hidden Name="BerichtId" value="@bericht.BerichtId" /> </button>
            </form>
        }
    </div>
</div>