@using Models
@model AccountViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4">
        <h1>Login</h1>
        <div class="alert-danger" role="alert">@ViewData["InvalidLogin"]</div>
        <form asp-action="Login" asp-controller="Account" method="post">
            <div class="form-group">
                <label>Gebruikersnaam:</label>
                <input asp-for="Gebruikersnaam" class="form-control" type="text" />
                <label>Wachtwoord:</label>
                <input asp-for="Wachtwoord" class="form-control" type="password" />
                <br />
                <button class="btn btn-default btn-right" type="submit">Log in!</button>
            </div>
        </form>
    </div>
</div>
